{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid wrrap-container" ng-controller="MobileController">
    <div class="row-fluid" style="margin-bottom: 10px;">
        <div class="span12">
            <form ng-submit="apply_changes()" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label"> <span class="label label-inverse">Enter your site </span> </label>
                    <div class="controls">
                        <input type="text" placeholder="http://" ng-model="preview_url">
                        <button class="btn"
                            ng-click="apply_changes()"
                            type="submit" style="width: 110px">
                            <b><i class="icon-share-alt"></i></b>
                        </button>
                    </div><!-- ./controls -->
                </div><!-- ./control-group -->
                <div class="control-group">
                    <label class="control-label">
                        <span style="color: white;" class="label label-inverse">
                            Width x Height (px)
                        </span>
                    </label>
                    
                    <div class="controls">
                        <input id="inputWidth" class="size-input" type="text" placeholder="width (px)" ng-model="preview_width">
                        <input id="inputHeight" class="size-input" type="text" placeholder="height (px)" ng-model="preview_height">
                        <button class="btn"
                            ng-click="apply_rotate()"
                            type="submit" style="width: 110px">
                            <b><i class="icon-refresh"></i></b>
                        </button>

                    </div>
                </div><!-- ./control-group -->

                <div class="control-group">
                    <label class="control-label">
                        <span style="color: white;" class="label label-inverse">
                            Mobile, Tablet, Desktop
                        </span>
                    </label>
                    <div class="controls">
                        <div class="btn-toolbar" style="margin-top: 0px;">

                            <div class="btn-group">
                                <button class="btn btn-screen">
                                    <b><i class="icon-mobile-phone"></i></b>
                                </button>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- dropdown menu links -->
                                    <li class="nav-header header-dropdown">
                                        Mobiles  
                                    </li>

                                    <li class="nav-header">
                                        Apple iPhone 3, 4    
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(320, 480, 1)">
                                            320 x 480
                                        </a>
                                    </li>
                                    <li class="nav-header">
                                        Apple iPhone 5   
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(320, 568, 1)">
                                            320 x 568
                                        </a>
                                    </li>
                                    <li class="nav-header">
                                        Samsung Galaxy SII
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(320, 533, 1)">
                                            320 x 533
                                        </a>
                                    </li>

                                    <li class="nav-header">
                                        Samsung Galaxy SIII
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(360, 640, 1)">
                                            360 x 640
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-screen">
                                    <b><i class="icon-tablet"></i></b>
                                </button>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- dropdown menu links -->
                                    <li class="nav-header header-dropdown">
                                        Tablets  
                                    </li>
                                    <li class="nav-header">
                                        iPad   
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(768, 1024, 1)">
                                            768 x 1024
                                        </a>
                                    </li>
                                    <li class="nav-header">
                                        Kindle Fire 
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(600, 800, 1)">
                                            600 x 800
                                        </a>
                                    </li>
                                    <li class="nav-header">
                                        Google Nexus 7 
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(603, 966, 1)">
                                            603 x 966
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-screen">
                                    <b><i class="icon-desktop"></i></b>
                                </button>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!-- dropdown menu links -->
                                    <li class="nav-header header-dropdown">
                                        Desktops  
                                    </li>

                                    <li class="nav-header">
                                        10" 
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(1024, 600, 1)">
                                            1024 x 600
                                        </a>
                                    </li>
                                    <li class="nav-header">
                                        12"  
                                    </li>
                                    <li>
                                        <a ng-click="apply_changes(1024, 768, 1)">
                                            1024 x 768
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.btn-toolbar -->
                    </div><!-- /.controls -->
                </div><!-- /.control-group -->
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" style="text-align: center;">
            {% verbatim %}
                <iframe 
                    ng-src="{{ frame_url }}" 
                    ng-style="preview_styles()" 
                    class="preview-frame {{ preview_class }}" 
                    ui-animate>
                </iframe>
            {% endverbatim %}
        </div>
    </div>
</div>
{% endblock %}
