{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="span6" style="margin: 0 auto 0 auto; float: none">
                <h2 class="header-text">{% trans "Password reset" %}</h2>
                <hr>
                <p><span class="white-color">{% trans "Enter your e-mail address below, and we will send instructions for setting a new one." %}</span></p>
                <form action="." method="post" class="white-label-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary wide-button">
                        <b><i class="icon-refresh icon-white"></i> {% trans "Reset password" %}</b>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
